body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    align-items: center;
    background: rgb(226, 139, 139);
    width: 100%;
    /* border: 1px solid black; */
}
nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%; 
}

.logo {
    font-size: 24px;
    justify-content: flex-start;
    /* border: 1px solid black; */
    vertical-align: middle;
    width: 48%;
    padding-left: 20px;

}
.logo img{
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2px;
    right: 20px;
    justify-content: flex-end;
    /* border: 1px solid black; */
    vertical-align: middle;
    font-weight: bold;
    font-size: 24;
    position: absolute;
    bottom: 5px;
}
.nav-links li{
    z-index:2;
    /* border: 2px solid rgba(238, 85, 39, 0.6); */
    padding: 5px 10px 5px 10px;
    /* border-top-left-radius: 20%;
    border-bottom-left-radius: 20%; */
    /* border-radius: 25% 25% 25% 25%; */
    /* background-color: rgba(13, 138, 241, 0.6);
    color: #fff; */
}
.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 2;
}
/* .nav-links li:hover {
    color: rgb(253, 253, 0);
    background-color: blue;
  */  
.nav-links a:hover {
    color: rgb(238, 199, 0);
   text-decoration: underline;
} 

main{
    position:sticky;
    width: 100%;
    /* border: 1px solid black; */
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    position: relative;
    margin-top: 0;
    /* border: 2px solid blue; */
}

.intro-text {
    margin: 150px 50px;
    max-width: 45%;
    z-index: 100;
    /* border: 1px solid black; */
}

.intro-text h2 {
    color: #f0a500;
    font-size: 18px;
}

.intro-text h1 {
    font-size: 28px;
    margin: 10px 0;
}

.intro-text p {
    font-size: 18px;
    color: #666;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #f0a500;
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

.intro-image {
    position: relative;
    z-index: 5; 
    /* border: 1px solid black; */
    justify-content: flex-end;
}

.intro-image img {
    position: fixed;
    width: 500px;
    right: 0;
    top: 0;
    
}

footer {
    position: fixed;
    bottom: 0;
}

footer img{
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
}
@media (max-width: 975px)  {
    .intro-text {
        margin: 10px 20px;
        max-width: 30%;
        z-index: 100;
        /* border: 1px solid black; */
    }

    .projects .pro-header{
        text-align: left;
    }
}



@media (max-width: 742px)  {
    .intro-text {
        margin: 500px 2px 10px;
        max-width: 100%;
        z-index: 1;
        /* border: 1px solid black; */
    }

    footer img{
       height: 100px;
    }
}